/* Container for the video */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('../img/bg3.jpg'); /* Background Image */
  background-size: cover; /* Ensure background covers entire viewport */
  background-position: center; /* Center the background */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevent scrolling */
  
}
.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevents extra space */
  z-index: -1;
  background: black; /* Prevents white bars */
}

/* Styles for Google Drive Video */
#birthday-video {
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  border: none;
}



/* Skip Button Styling (Modern YouTube style) */
.skip-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgb(0, 0, 0);
  color: white;
  /* border: none; */
  border:0.9px solid white;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.skip-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
